:root {
    --light-yellow: #f5d00d;
    --dark-yellow: #b39730;

    --light-red: #ec666b;
    --dark-red: #af4554;

    --light-green: #44b7a6;
    --dark-green: #00a178;
    
    --light-blue: #24b6d1;
    --dark-blue: #007485;

    --off-black: #484c54;
    --blue-grey: #a0a5b5;
    --off-white: #f0f0f0;

}
