@font-face {
    font-family: "Lato";
    font-weight: bold;
    src: url("../fonts/Lato-Bold.ttf") format("ttf"),url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-weight: normal;
    src: url("../fonts/Lato-Regular.eot") format("eot"),url("../fonts/Lato-Regular.ttf") format("ttf"),url("../fonts/Lato-Regular.woff") format("woff"),url("../fonts/Lato-Regular.woff2") format("woff2");
}
