/*  ==========================================================================
    Vendor Imports
    ========================================================================== */
@import "normalize.css";
@import url(vendor/html5bp-defaults.css);
@import url(vendor/html5bp-helpers.css);

/* ==========================================================================
   Our Imports
   ========================================================================== */
@import url(colors.css);

/* ==========================================================================
   Your Styles
   ========================================================================== */

* {box-sizing: border-box;}
html, body {height:100%;}
body {font-family: "Lato", sans-serif;}

/* Test */

.droppable {
  cursor: grab;
}
.draggable--is-dragging .droppable {
  cursor: move;
  cursor: grabbing;
}
.drag-me {
  width: 100px;
  height: 100px;
  background-color: red
}
.order {
  background-color: var(--light-red);
  padding: 2em;
}
.areas {
  background-color: var(--light-green)
}

.draggable-source--is-dragging {
  opacity: 0.2;
}

.draggable-mirror {
  cursor: move;
}


main {display: flex; flex-wrap: wrap; font-weight: 900!important;}
.droppable {width: 104px; height: 104px; border: 2px solid black;}
li {display: block}
