/*  ==========================================================================
    Vendor Imports
    ========================================================================== */
@import "normalize.css";
@import url(vendor/html5bp-defaults.css);
@import url(vendor/html5bp-helpers.css);

/* ==========================================================================
   Our Imports
   ========================================================================== */
@import url(colors.css);

/* ==========================================================================
   Your Styles
   ========================================================================== */

* {box-sizing: border-box;}
html, body {height:100%;}
body {font-family: "Lato", sans-serif;}

.drop-hover {background-color: red}

main {
  display: flex;
  width: 100%;
}

main > div {
  flex-grow: 1;
}

.source {
  background-color: var(--blue-grey);
}

.destination {
  background-color: var(--off-white)
}

.draggable {
  background-color: var(--light-green);
  height: 4em;
}
.droppable {
  background-color: var(--light-blue);
  height: 4em;


}
