/*  ==========================================================================
    Vendor Imports
    ========================================================================== */
@import "normalize.css";
@import url(vendor/html5bp-defaults.css);
@import url(vendor/html5bp-helpers.css);
@import url('../../node_modules/dragula/dist/dragula.css');

/* ==========================================================================
   Our Imports
   ========================================================================== */
@import url(colors.css);

/* ==========================================================================
   Your Styles
   ========================================================================== */

* {box-sizing: border-box; user-select: none;}

html, body {height:100%;}

body {
  font-family: "Lato", sans-serif;
  
}

.layout-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  background-color: var(--dark-blue);
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 1em;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sources-wrapper {
    background-color: #00a3c1;

}

.sources {

  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y:hidden;
  min-height: 150px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
  .source {
    margin: 1em;
    flex-basis:250px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .source-draggable {
    
  }

.destinations {
  background-color: var(--off-black);
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: .5em;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
}

  .destination {
    display: flex;
    flex-basis: 250px;
    background-color: var(--light-blue);
    border-radius: 4px;
    margin: 0.5em;
    flex-direction: column;
    border: 1px solid black;
    min-height: 280px
  }

  .destination .meta {
    padding: 1em;
  } 
  .destination h2, .destination p {
    margin:0;
    /*margin-bottom:.25em;*/
  }

  .destination h2 {
    font-size: 1.25em;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    /*letter-spacing: 0.5px;
    text-transform: uppercase;*/
  }

  .destination p {
    font-size: 1.1em;
  }
  .destination p {
    margin: 0;
  }
  .destination-droppable {
    flex-basis: 140px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #33454e;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .7);
  }

.tile {
  width:100%;
  height: 140px;
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
}

.tile img {
  height:80px;
  pointer-events: none;
  margin:0;
  margin-right: 10px;
}

.correct {
  background-color: var(--light-green);
}
.incorrect {
  background-color: var(--light-red);
}

.draggable {
  background-color: var(--light-green);
  height: 4em;
}


.completion-status {
  background-color: var(--light-blue);
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  border-top: 1px solid rgba(25,25,25,0.2);
  padding: .5em;
}
* {
  transition: min-height .5s ease-in-out, height .5s ease-in-out;
}

.complete .sources {
  height: 0;
  min-height:0;
}
.complete .completion-status {
  background-color: var(--light-green);
  padding: 1em 1em 1.1em 1em;
}

.complete .completion-status::after {
  display: block;
  content: "All complete—well done!";
  font-weight: normal;
  font-size: .75em;
}

.dupe-dest .destination-droppable {
  flex-basis: 70px;
}

.dupe-dest .tile {
  height: 70px;
}

/* Show dashes when we're dragging */

.gu-unselectable .destination-droppable { 
  border: 2px dashed rgba(255,255,255,0.2);
}

@media screen and (max-width: 540px) {
  .destination {
    min-height: auto;
  }
  .destination-droppable {
    flex-basis: 60px;
  }
  .dupe-dest .destination-droppable {
    flex-basis: 60px;
  }
  .tile {
    height: auto;
    min-height: 60px;
    border-radius: 4px;
  }
  .dupe-dest .tile {
    height: 60px;
  }
  .destination h2 {
    font-size: 1em;
  }
  .sources {
    min-height: auto
  }
  h1 {
    font-size: .8em;
    font-weight: 500;
  }
  .completion-status {
    font-size: 1em;
  }
}


/* Copy Pasted Code from "Structured Research Process" */

.example {
    width: 100%;
    background-color: var(--off-black);
    margin: 10px 0;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
    position: relative;
    padding-bottom: 40px;
}

.example-header {
    background-color: var(--light-blue);
    width: 100%;
    height: 70px;
    padding-top: 12px;
}

.example-draggable {
    width: 180px;
    height: 44px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    color: #9ea5b5;
    font-size: 20px;
    padding-top: 8px;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    z-index: 1;
    text-align: center
}

.example-draggable.animated {
    -webkit-animation-name: draggableAnimation;
            animation-name: draggableAnimation;
}

@-webkit-keyframes draggableAnimation {
    0% {
        -webkit-transform: translate(0,0) scale(1);
                transform: translate(0,0) scale(1);
    }
    
    55% {
        -webkit-transform: translate(0,0) scale(1);
                transform: translate(0,0) scale(1);
    }
    
    60% {
        -webkit-transform: translate(0,0) scale(1.1);
                transform: translate(0,0) scale(1.1);
    }
    
    100% {
        -webkit-transform: translate(0,120px) scale(1.1);
                transform: translate(0,120px) scale(1.1);
    }
}

@keyframes draggableAnimation {
    0% {
        -webkit-transform: translate(0,0) scale(1);
                transform: translate(0,0) scale(1);
    }
    
    55% {
        -webkit-transform: translate(0,0) scale(1);
                transform: translate(0,0) scale(1);
    }
    
    60% {
        -webkit-transform: translate(0,0) scale(1.1);
                transform: translate(0,0) scale(1.1);
    }
    
    100% {
        -webkit-transform: translate(0,120px) scale(1.1);
                transform: translate(0,120px) scale(1.1);
    }
}

.example-draggable:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    opacity: 0;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.example-draggable.animated:before {
    -webkit-animation-name: shadowAnimation;
            animation-name: shadowAnimation;
}

@-webkit-keyframes shadowAnimation {
    0% {
        opacity: 0;
    }
    
    55% {
        opacity: 0;
    }
    
    60% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes shadowAnimation {
    0% {
        opacity: 0;
    }
    
    55% {
        opacity: 0;
    }
    
    60% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

.example-dropable {

    width: 220px;
    height: 85px;
    margin: 0 auto;
    margin-top: 40px;
    color: #fff;
    font-size: 30px;
    padding-top: 19px;
    position: relative;
    background-color: #33454e;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .7);
    text-align: center;
}

.example-dropable:before {
    content: "------------";
    padding-top: 19px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.05), inset 0 0 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 1px rgba(255,255,255,.05), inset 0 0 10px 0 rgba(0,0,0,.5);
    background-color: #f9f9f9;
    opacity: 0;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.example-dropable.animated:before {
    -webkit-animation-name: dropableShadowAnimation;
            animation-name: dropableShadowAnimation;
}

@-webkit-keyframes dropableShadowAnimation {
    0% {
        opacity: 0;
    }
    
    70% {
        opacity: 0;
    }
    
    73% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes dropableShadowAnimation {
    0% {
        opacity: 0;
    }
    
    70% {
        opacity: 0;
    }
    
    73% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

#mouse {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 52px;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    z-index: 2;
}

#mouse.animated {
    -webkit-animation-name: handAnimation;
            animation-name: handAnimation;
}

@-webkit-keyframes handAnimation {
    0% {
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
    
    50% {
        -webkit-transform: translate(-160px,-160px) scale(1);
                transform: translate(-160px,-160px) scale(1);
    }
    
    55% {
        -webkit-transform:translate(-160px,-160px)  scale(0.7);
                transform:translate(-160px,-160px)  scale(0.7);
    }
    
    60% {
        -webkit-transform:translate(-160px,-160px)  scale(1);
                transform:translate(-160px,-160px)  scale(1);
    }
    
    100% {
        -webkit-transform: translate(-160px,-40px);
                transform: translate(-160px,-40px);
    }
}

@keyframes handAnimation {
    0% {
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
    
    50% {
        -webkit-transform: translate(-160px,-160px) scale(1);
                transform: translate(-160px,-160px) scale(1);
    }
    
    55% {
        -webkit-transform:translate(-160px,-160px)  scale(0.7);
                transform:translate(-160px,-160px)  scale(0.7);
    }
    
    60% {
        -webkit-transform:translate(-160px,-160px)  scale(1);
                transform:translate(-160px,-160px)  scale(1);
    }
    
    100% {
        -webkit-transform: translate(-160px,-40px);
                transform: translate(-160px,-40px);
    }
}

#pulse1, #pulse2 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

#pulse1.animated, #pulse2.animated {
    -webkit-animation-name: pulse;
            animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
    
    50% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    
    70% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
}



@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
    
    50% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    
    70% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
}

.modal {
  margin: 1em;
  background-color: white;
  padding: 20px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.modal h1 {
  margin-bottom: 2em
}
.modal-wrapper {
  position: absolute;
  z-index: 5;
  height: 100%;  
  width: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.5)
}

.button {
  line-height: 3em;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.25em;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  background-color: var(--light-green);
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px var(--dark-green);
  border: none;
}

.scroll-helper {
  position: fixed;
  bottom:0;
  font-size: .85em;
  line-height: 2em;
  padding: .6em;
  text-align: center;
  z-index: 3;
  background-color: rgba(255,255,255,0.5);
  width: 100%;

}

.close {
  height: 30px;
  width: 30px;
  border: none;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 0;
  position: absolute;
  left: 20px;
  border-radius: 15px;
  text-align: center;
}
